.gitlab {
    fill: rgba(255,255,255,.7);
}

.gitlab:hover {
    fill: #fca326;
}

.measure-wide {
    max-width: 40em;
}

/* Links without underline */
a:any-link {
    text-decoration: none;
}

/* Reduce the size of H1 and H2 titles */
h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

/* https://christianspecht.de/2020/08/10/creating-an-image-gallery-with-hugo-and-lightbox2/ */
.nested-img img {
    width: auto;
    max-width: none;
    display: inline;
} 
